body {
    background-color: rgb(231, 213, 203);
}
h1 {
     color: orangered;
     
}
h2 { 
    color: blue;
}
/*button {
        box-sizing: border-box;
        border: none;
        background-color: rgb(98, 125, 199);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
  }
  
/*style the logo*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }


     /* Style the dropdown container */
     .dropdown-container {
      display: inline-block;
      margin-right: 20px; /* Adjust spacing between dropdowns */
  }

  /* Style the dropdown button */
  /*.dropdown-container button {
      background-color: #333;
      color: white;
      padding: 12px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Style the dropdown links */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      
  }

  /* Change color on hover */
  .dropdown-content a:hover {
      background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown-container:hover .dropdown-content {
      display: block;
  }

.dropdown-container {
    
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}